
  <div class="top">
      <h1>Hi, I'm Amrit</h1>
      <h2>Web Developer | Automation Engineer</h2>
  </div>
  <section class="top-section">
      <div class="top-img">
        <img src="../../assets/mf-avatar.svg" alt="Computer mf-avatar" />
      </div>
      <div class="bottom-img">
        <img src="../../assets/hero-devices.svg" alt="Computer devices" />
      </div>
  </section>
  <section class="middle-section">
      <div>
          <h2>About Me</h2>
          <div>
            <h4>
            I'm Amrit, an enthusiastic and passionate about programming. I'm currently working as a Automation Engineer and
              looking forward to embark my journey in the Web development field. I am eager to learn new technologies and frameworks
              to improve my skills.
            </h4>
          </div>
      </div>
  </section>
  <section class="bottom-section">
    <div>
        
    </div>

  </section>

