@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&family=Roboto+Mono&display=swap');

*{
  font-family: "Roboto Slab", monospace;
}

.top-img {
  text-align: center;
}
.top-img img {
  margin: 3rem 0;
  width: 210px;
}

.bottom-img > img {

  vertical-align: bottom;
  margin: 0 -100px;
}

.top {
  width: 60%;
  margin: auto;
  text-align: center;
}
.top > h1 {
  margin: 0 auto;
  font-size: 2.5rem;
}
.top > h2 {
  margin: 0;
}

.bottom-img {
  text-align: center;
  margin-bottom: 0;
}

.bottom-img img {
  margin-bottom: 3rem;
  max-width: 750px;
  margin: 0;
}

section.middle-section {
  text-align: center;
  background-color: #6e07f3;
  color: white;
  height: 500px;
}

section.middle-section h2 {
  margin: 0;
  padding-bottom: 20px;
  font-size: 36px;

}
.middle-section > div {
  padding: 40px;
  
  width: 60%;
  margin: 0 auto;
  padding: 100px;
  line-height: 1.5;
  font-size: 19px;
}

.middle-section h2,h4 {
 font-family: 'Noto Serif', serif;
   letter-spacing: 1px;
    /* font-weight: normal;  */
}

.skills-container {
  background-color: rgba(255, 255, 255);
  border-radius: 15px;
  width: 80%;
  height: 400px;
  margin: -109px auto 0 auto;
  display: flex;
  border-bottom: 1px solid #e6ecf8;
  margin-bottom: 200px;
}
.skills-container .column {
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
  border: 1px solid #e6ecf8;
  border-radius: 15px;
}

.column > div {
  padding: 70 45;
  margin: 10px;
  font-family: "Roboto Mono", monospace;
  font-size: large;


}
.column > div > h1 {
  border-bottom: 2px solid #e0e5ee;
}
